@import '../../sass/Abstracts/variables';

.ticket-page {
    padding: 2rem;
    min-height: 85vh;

    @media only screen and (max-width: $bp-medium-1) {
        padding: 1rem;
    }

    &__header {
        display: flex;
        font-size: 3rem;
        color: $color-primary;

        &-icon {
            margin-right: 1rem;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 15rem .6fr;
        margin-top: 2rem;

        @media only screen and (max-width: $bp-medium-1) {
            grid-template-columns: 13rem 1fr;
        }
    }

    &__label {
        font-size: 2rem;
        color: $text-color;
    }

    &__key {
        font-size: 1.7rem;
    }

    &__select {
        width: 15rem;
        padding: .3rem 1rem;
        margin-right: 3rem;
    }

    &__form-group {
        margin-bottom: 1.3rem;

        & label {
            margin-right: 1rem;
        }
    }

    &__complete-btn {
        background-color: $color-primary-dark;
        padding: .7rem 3rem;
        border: none;
        color: $color-white;
        font-weight: 600;
        cursor: pointer;
        border-radius: .4rem;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        width: max-content;
    }

    &__resolve {
        display: flex;
        align-items: center;

        &-status {
            font-size: 1.5rem;
            margin-right: 1.2rem;
        }

        &-icon {
            font-size: 1.6rem;
            margin-right: 1.2rem;
        }

        &-done {
            color: green;
        }

        &-err {
            color: red;
        }

        &-action {
            font-size: 1.2rem;
            cursor: pointer;
            padding: .6rem 2rem;
            background-color: $color-primary-dark;
            color: $color-white;
            border: none;
            border-radius: .3rem;
        }
    }
}